<header class="header">
    <a href="/" class="header__logo">Admin Panel</a>
    <div class="container">
        <nav class="header__nav">
            <ul>
                <li>
                    <a href="/dashboard" class="<%= isActiveRoute('/dashboard', currentRoute) %>">Dashboard</a>
                </li>
                <li>
                    <a href="/about" class="button">About</a>
                </li>
                <li>
                    <a href="/posts" class="button">Posts</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="header__button">
        <a href="/logout" class="btn btn-delete">
            Logout
        </a>
    </div>
</header>