<header class="header">
    <a href="/" class="header__logo">Admin Panel</a>
    <div class="container">
        <nav class="header__nav">
            <ul>
                <li>
                    <a href="/" class="button">Home</a>
                </li>
                <li>
                    <a href="/about" class="button">About</a>
                </li>
                <li>
                    <a href="/contact" class="button">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="header__button">
        <button>
            Logout
        </button>
    </div>
</header>