<h1>About</h1>

<ul class="list-group list-group-flush">
    <li class="list-group-item-dark">An application by: Lefter Andrei-Ionut</li>
    <li class="list-group-item-dark">Built using NodeJS, MongoDB for storage, npx for serving the app, ejs for templating the pages and bcryptJs for password encryption</li>
    <li class="list-group-item-dark">Has 3 main pages: Home, About(currently here) Browse and an Admin module. The home page lists the last 10 created/edited posts</li>
    <li class="list-group-item-dark">The Admin module allows admins to create, edit and delete posts</li>
    <li class="list-group-item-dark">The app's main page also has a search functionality, searching posts based on title or content</li>
</ul>

